nav{
    background-color: #fff;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: -4px 2px 8px 1px grey;
}

.logo{
    width: 50%;
    max-width: 300px;
}

.bottom{
    display: flex;
    align-items: center;
}

.menuToggle{
    display: none;
}

.menu{
    align-content: center;
    display: flex;
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

.menu li{
    padding: 0 5px;
}


@media(max-width: 992px){
    .menu{
        display: none;
    }
    .menuToggle{
        width: 30px;
        display: block;
        z-index: 4;
        cursor: pointer;
    }
    .menuToggle img{
        width: 100%;
    }
    .drawerMenu{
        font-size: 1.5em;
        list-style-type: none;
    }
}