header{
    background-color: #fff;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.logo{
    width: 50%;
    max-width: 300px;
}

.menuToggle{
    display: none;
}

.menu{
    align-content: center;
    display: flex;
    list-style: none;
}

@media(max-width: 992px){
    .menu{
        display: none;
    }
    .menuToggle{
        width: 24px;
        height: 26px;
        display: block;
        z-index: 4;
        cursor: pointer;
    }
    .menuToggle .open .one {
        transform: rotate(45deg) translate(4px, 4px);
    }
    .menuToggle .open .two {
        opacity: 0;
    }
    .menuToggle .open .three {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    .one, .two, .three{
        width: 100%;
        height: 2px;
        margin: 6px auto;
        background-color: #000;

    }
}